.container {
    padding: 0 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
    gap: 1.5rem;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between items */
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Distribute space between items */
}


.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.main_btn {
    padding: 0.5rem 1rem;
    background-color: var(--dark-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button horizontally */
    margin-top: auto; /* Push button to the bottom */
}

.main_btn:hover {
    background-color: var(--light-color);
}

h2 {
    font-size: 2.5rem; /* Increase size */
    font-weight: bold;
    color: rgb(67, 71, 75);
    text-align: center;
    margin-bottom: 1.5rem; /* Adjust spacing */
    margin-top: 3rem; /* Increase margin from the top */
    padding-top: 2rem; /* Add padding from the top */
    text-transform: uppercase; /* Optional for a bolder look */
    letter-spacing: 2px;
    position: relative;
}

h2::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color:black; /* Use your primary color */
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-radius: 2px; /* Rounded line */
}
